body
{
    color: white;
    font-size: 80px;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.phone
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #121212;
    border-radius: 25px;
}

.screen
{
    position : absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
}

.screen::before
{
    content: '';
    position: absolute;
    top : 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255, 255, .02);
    transform: skewX(-15deg);
    z-index: 1;
}

.screen img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.time
{
    position: absolute;
    top: 35%;
    width: 92%;
    height: 10%;
    left: 4%;
}
.date
{
    font-size: 40px;
    position: absolute;
    top: 40%;
    width: 92%;
    height: 10%;
    left: 4%;
}

.google-search
{
    position: absolute;
    top: 55%;
    height: 5%;
    border-radius: 30px;
    width: 92%;
    left: 4%;
    background-color: rgba(255,255, 255, .7);
}

.apps
{
    position: absolute;
    top: 70%;
    left: 4%;
    width: 92%;
    height: 25%;
}

.first-arrow
{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
}

.second-arrow
{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 60%;
}

.app
{
    position: absolute;
    height: 8vh;
    width: 8vh;
    background-color: gray;
    border-radius: 30%;
    transform: translate(-50%, -50%)
}

#column1
{
    left: 10%;
}

#column2
{
    left: 30%;
}

#column3
{
    left: 50%;
}

#column4
{
    left: 70%;
}

#column5
{
    left: 90%;
}

#hover
{
    position: absolute;
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    z-index: 2;
}

#hover:hover
{
    opacity: 0;
}

@media all and (orientation: landscape) 
{
    #background
    {
        background-repeat: no-repeat;
        background: url(resources/landscape.jpg);
        background-size:100% 100%;

    }
}

@media all and (orientation: portrait) 
{
    #background
    {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(resources/background.jpg);
    }
}